# --- Gradle & Build ---
.gradle/
build/
target/
/target
bin/
out/
generated/

# --- IDEs (IntelliJ, Eclipse, VS Code) ---
.idea/
*.iml
*.iws
.settings/
.classpath
.project
.factorypath
.vscode/
.nb-conf
nbproject/

# --- Configuración y Secretos ---
*.properties
!gradle.properties
*.db
*.p12
*.jks

# --- Sistema y Herramientas ---
.DS_Store
Thumbs.db
.java-version
.tool-versions
./src/test/postman/reports/

# --- Otros ---
springboot-petclinic-client/
springboot-petclinic-server/